<!DOCTYPE html>
<html>
  <head>
    <title>startup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="/js/scripts.js"></script>
  </head>
  <body>
    <!-- begin inner template-->

    <div class="container">
      <div class="jumbotron" id="titleJumbo">
        <div class="row">
          <div class="col-md-8">
          </div>
          <div class="col-md-4" id="titleText">
            <h1 > Hack & / <span id="trademark">TM</span></h1>
            <h2>The world's first Hack-A-Thon exclusively dedicated to the intersection of technology and table top board games!</h2>
          </div>
        </div>
      </div>
      #parse( $template )
    </div>
    <!-- end inner template-->
  </body>
</html>
