<div class="container">

   <div class="jumbotron teamJumbo">
   <h1> $member.getMemberName()</h1>
   <h4> Team $team.getTeamName()</4>
   </div>

<a href="/teams/$team.getTeamID()" class="btn btn-success" id="seeAllTeamMembersButton"><h4>See All Team Members</h4></a>


</div>
