<div class="container">

   <div class="jumbotron teamJumbo">
   <h1> $member.getMemberName()</h1>
   <h4> Team $team.getTeamName()</4>
   </div>

  <h4><a href="/teams/$team.getTeamID()">See All Team Members</a></h4>
</div>
