<div class="container">
<h2> Team $team.getTeamName()</h2>
  #foreach ($member in $members)
   <div class="jumbotron teamJumbo">
    <h3 class="memberName"><a href ="/teams/$team.getTeamID()/member/$team.getTeamMembers().indexOf($member)"</a> $member.getMemberName() </a></h3>
   </div>
  #end

   <h4><a href="/">Add More Teams</a></h4>
</div>
